<div >
    <p class="text-center  h1">Shop Store</p>
    <center><a href="/shop" class="btn btn-info text-center role="button">Shop Now</a></center> 

    <center>
        <img src="https://image.shutterstock.com/image-photo/kiev-ukraine-march-31-2015-260nw-275940803.jpg" class="img-responsive rounded-circle" alt="imh">
    </center> 
    <br><br>
    <p class="text-left">2020 <span class="glyphicon glyphicon-copyright-mark"></span> JamsheedSaeed Shoe Store, GitHub:<a href="https://github.com/jamsheedsaeed">https://github.com/jamsheedsaeed</a></p>
</div>