<div ng-controller="MainController as mainctrl" ng-cloak>

    <md-content flex layout-padding>
        <p class="text-center  h1">Shop Store</p>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        
            <md-button href="/shop" class="md-raised md-warn">Shop Now </md-button>
          
          </section>
    
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <img src="https://image.shutterstock.com/image-photo/kiev-ukraine-march-31-2015-260nw-275940803.jpg" class="img-responsive rounded-circle" alt="imh">
        </section>
        <br><br>
    
        <p class="text-left">2020 <span class="glyphicon glyphicon-copyright-mark"></span> JamsheedSaeed Shoe Store, GitHub:<a href="https://github.com/jamsheedsaeed">https://github.com/jamsheedsaeed</a></p>
    </md-content>
  
</div>