<style>

  /**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  GRADIENT BUTTONS
************************/
.btn-primary.gradient {
    background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
    background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:active, .btn-primary.gradient.active {
    background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}



.card {
  padding-top: 50px;
  margin: 10px 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.card.hovercard {
  position: relative;
  width: 100%;
  padding-top: 0;
  overflow: hidden;
  text-align: left;
  background-color: #fff;
}

.card.hovercard img {
  width: 300px;
  height: 200px;
}

.card.hovercard .avatar {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

.card.hovercard .avatar img {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 50px;
  line-height: 50;
  color: #262626;
  vertical-align: right;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 50px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 50%;
  margin-bottom: 17px;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 0; }



  @media only screen and (min-width: 960px) {
        /* styles for browsers larger than 960px; */
        .lst{
    display: none;
  }
  .res {
    display:block;
  }
    }

    @media only screen and (min-width: 1440px) {
        /* styles for browsers larger than 1440px; */
        .lst{
    display: none;
  }
  .res {
    display:block;
  }
    }
    @media only screen and (min-width: 2000px) {
        /* for sumo sized (mac) screens */
        .lst{
    display: none;
  }
  .res {
    display:block;
  }
    }
    @media only screen and (max-device-width: 480px) {
       /* styles for mobile browsers smaller than 480px; (iPhone) */
       .lst{
    display: block;
  }
  .res {
    display: none;
  }
    }
    @media only screen and (device-width: 768px) {
       /* default iPad screens */
       .lst{
    display: block;
  }
  .res {
    display: none;
  }
    }
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
      .lst{
    display: block;
  }
  .res {
    display: none;
  }
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
      .lst{
    display: block;
  }
  .res {
    display: none;
  }
    }

/* @media screen and (max-width: 600px) {
  .lst{
    display: block;
  }
  .res {
    display: none;
  }
  
}

@media screen and (min-width: 500px) and (max-width: 1300px) {
  .lst{
    display: none;
  }
  .res {
    display:block;
  }
  
} */

 </style>


<div ng-controller="myCheckout as Cart">
  <p class="h1 text-center" style="justify-content: center;">Shop Store</p>
  <br><br><br>
  <div class="lst"   flex>

    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Products</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky">Your Cart Items</md-subheader>

        
        <md-list-item class="md-2-line" ng-repeat="product in products" ng-click="null">
          <img ng-src="{{product.url}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ product.pname }}</h3>
            <h4>{{ product.price }}</h4>
            <p>{{ product.qty }}</p>
            <md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
       
      </md-list>

    </md-content>


  </div>







 
	<div class="row table-responsive ">
    <br>
   
    <md-table-container>
  


		<table id="tbl" style="width: 100%;" class="table res">

			<thead class="thead-dark" >
				<th>image</th>
				<th>Name</th>
				<th>Price</th>
				<th>Qty</th>
				<th>Action</th>
				<th>Action</th>
			</thead>

			<tr ng-repeat="product in products">
				<td style="height:50px;width:100px"><img ng-src = "{{product.url}}" width="200" height="200"/></td>
				<td style="height:50px;width:100px">{{product.pname}}</td>
				<td style="height:50px;width:20px">{{product.price}}</td>
				<td style="height:50px;width:10px">{{product.qty}}</td>
				<td style="height:50px;width:10px"><button class="btn btn-warning" ng-click="AddNewItem(product.pid)">Add</button></td>
				<td style="height:50px;width:10px"><button class="btn btn-danger" ng-click="clearItem(product.pid)">clear</button></td>
			</tr>

		</table>
	</div>

	<div ng-if="products.length > 0">
		<!-- code to render a large video block-->
		<div class="container">
		<div class="card hovercard">
		
			<div class="info">
				<h1>Total Items</h1>
				<h3>{{qty}}</h3>
				
			 </div>
			 <div class="info">
				 <h1>Total Price </h1>
				 <h3>{{price}}</h3>
				
			 </div>
			 <div >
        <section layout="row" layout-sm="column" layout-align="right" layout-wrap>
        <button class="btn btn-danger btn-lg gradient" ng-click="cleardata()">Clear</button>
        </section>
			 </div>
			 <div >
         <br>
        <section layout="row" layout-sm="column" layout-align="right" layout-wrap>
        <button class="btn btn-primary btn-lg gradient" ng-click = "ProceedClick()">Proceed To Checkout</button>
        </section>
			 </div>
		</div>
		</div>
	</div>

	<div ng-if="products.length == 0">
		<!-- code to render a large video block-->
		<div class="container">
		<div class="card hovercard">
		
			<div class="info">
				<h1>Your Cart is Empty</h1>

			 </div>
			
		</div>
		</div>
  </div>
  
  <modal title="Login form" visible="showModal">
    <form role="form">

    </form>
  </modal>
	

</div>
<p class="text-left">2020 <span class="glyphicon glyphicon-copyright-mark"></span> JamsheedSaeed Shoe Store, GitHub:<a href="https://github.com/jamsheedsaeed">https://github.com/jamsheedsaeed</a></p>