<div >
  
    <p class="text-center  h1">Shop Store</p>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Shipping Address</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>          
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Number</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+923455280065">
            <small id="emailHelp" class="form-text text-muted">We'll never share your number with anyone else.</small>
          </div>

        <button type="submit" class="btn btn-primary">Proceed To Pay</button>
      </form>
      
      
    </div>

 

</div>